<div class="container-fluid table-fluid table-dark">
    
  <%= render "/layouts/nav.sidebar" %>

<h1 class= "p-3 mb-2 bg-dark border-bottom"><%=@contacts.model_name.human(count: 2)%></h1> 

<div class="row">
    
    <div class="p-3 bg-dark">
      <%= link_to icon('fa text-dark', 'plus','Adicionar', id: 'View'), new_contact_path, class: 'btn btn-light'%>
    </div>

    <div class="bootstrap-table bootstrap4 table-responsive ml-3 mr-3"> 
      
      <table class="table table-striped table-bordered table-hover table-dark"
      data-toggle="table"
      data-sort-name="name"
      data-sort-order="desc"
>
        
        <thead class='thead-light'>
          <tr scope="col">
            <th data-field="name" data-sortable="true" data-toggle="popover" title="Nome"> 
              <%=@contacts.human_attribute_name("name")%></th>
            
            <th data-field="email" data-sortable="true"> 
              <%=@contacts.human_attribute_name("email")%></th>
            
            <th data-field="kind" data-sortable="true"> 
              <%=@contacts.human_attribute_name("kind")%></th>

            <th data-field="show"> 
              <%=t 'buttons.show'%></th>

            <th data-field="edit"> 
              <%=t 'buttons.edit'%></th>

            <th data-field="destroy"> 
              <%=t 'buttons.destroy'%></th>
          </tr>
        </thead>

        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.email %></td>
              <td><%= contact.kind.description %></td>
              <td><%= link_to icon('far text-light', 'eye', id: 'View', class: 'btn btn-dark btn-sm'), contact %></td>
              <td><%= link_to icon('fa text-light', 'pen', id: 'Edit', class: 'btn btn-dark btn-sm'), edit_contact_path(contact) %></td>
              <td><%= button_to contact, method: :delete, class: 'text-hide' do %>
                <i class='fas fa-trash-alt btn btn-dark btn-sm'></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
</div>

<script >
$('[data-toggle="popover"]').popover();
</script>



</body>
</html>