<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @contact.kind_id %>
</p>

<p>
  <strong>Rmk:</strong>
  <%= @contact.rmk %>
</p>

<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
  </head>
  <body class="container-fluid table-fluid table-dark">
      <div class= "p-3 mb-2 bg-dark border-bottom"> <h1><%= t 'New Contact'%></h1>
        <span>Favor preencher os dados do contato</span>
      </div> 

      <%= form_with model: @contact do |form| %>
        <div class="form-row">
          
          <div class="form-group col-md-6">
            <%= form.label :name %>
            <%= form.label @contact.name, class: "form-control"%>
          </div>
          
          <div class="form-group col-md-6">
            <%= form.label :email%>
            <%= form.label @contact.email, class: "form-control"%>
          </div>

        </div>
        <% @contacts.each do |contact| %>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%= form.label :kind%>
            <%=contact.kind.description%>
          </div>
        </div>

        <<% end %>

        <div class="form-group">
          <%= form.label :rmk%>
          <%= form.text_area :rmk, class: "form-control"%>
        </div>
        <div class="actions">
          <%= form.submit "Enviar", class: "btn btn-light" %>
        </div>
        <% end %>
    </div>
  </body>
</html>
