<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
  </head>
  <body class="container-fluid table-fluid table-dark">
      <div class= "p-3 mb-2 bg-dark border-bottom"> <h1><%= t 'New Contact'%></h1>
        <span>Favor preencher os dados do contato</span>
      </div> 

      <%= form_with model: @contact do |form| %>
        <div class="form-row m-3 justify-content-md-left">
          
          <div class="form-group col-md-3">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control", disabled: 'true'%>
          </div>
          
          <div class="form-group col-md-3">
            <%= form.label :email%>
            <%= form.text_field :email, class: "form-control", disabled: 'true'%>
          </div>

        </div>

        <div class="form-row m-3 justify-content-md-left">
          <div class="form-group col-md-3">
            <%= form.label :kind%>
            <%= form.collection_select(:kind_id, @kind_selection, :id, :description, {}, class: "form-control", disabled: 'true')%>
          </div>
        </div>

        <div class="form-row m-3 justify-content-md-left">
          <div class="form-group col-md-6">
            <%= form.label :rmk%>
            <%= form.text_area :rmk, class: "form-control mb-6 size-none", disabled: 'true', rows: 10%>
          </div>
        </div>
        <% end %>

        <div class="form-row m-3">
          <div id='back' class="action col-6">
            <%= link_to "Back", contacts_path, class: "btn btn-light" %>
          </div>
        </div>
    </div>
  </body>
</html>